{% extends  "::base.html.twig" %}
{% block body %}
 <div ng-controller="membresController">


    <div ng-repeat="membre in eleve">

        {[{membre.name}]}****{[{membre.classe}]}

    </div>
        </div>


    

  

    {% block javascripts %}

        <script src="{{ asset('js/json.js') }}"></script>

    {% endblock %}  

{% endblock %}