{% extends "::base.html.twig" %}
{% block body %}

    <div class="row center">
        <div class="col s12 m12">
            <div class="card red darken-1">
                <div class="card-content white-text">
                    <span class="card-title">403</span>
                    <p>Désolé mais vous n'avez pas le droit de consulter cette page!</p>
                </div>
                <div class="card-action">
                    <a href="#">Accueil</a>
                </div>
            </div>
        </div>
    </div>
{% endblock%}