{% extends "::base.html.twig" %}
{% block body %}
          {{ form_start(form, {'method': 'POST'}) }}
   {{ form_widget(form.name) }}
        {{ form_widget(form._token) }}
        <input type="submit"/>
    </form>
{% endblock%}